{% extends "base.html" %}
{% block title %}Change you password{% endblock %}
{% block content %}
<div class="container">
    <h1 class="row text-uppercase justify-content-center loader">
        <span style="--i:1;">c</span>
        <span style="--i:2;">h</span>
        <span style="--i:3;">a</span>
        <span style="--i:4;">n</span>
        <span style="--i:5;">g</span>
        <span style="--i:6;">e</span>
        <span style="--i:7;">&nbsp</span>
        <span style="--i:8;">y</span>
        <span style="--i:9;">o</span>
        <span style="--i:10;">u</span>
        <span style="--i:11;">r</span>
        <span style="--i:12;">&nbsp</span>
        <span style="--i:13;">p</span>
        <span style="--i:14;">a</span>
        <span style="--i:15;">s</span>
        <span style="--i:16;">s</span>
        <span style="--i:17;">w</span>
        <span style="--i:18;">o</span>
        <span style="--i:19;">r</span>
        <span style="--i:20;">d</span>
    </h1>



    <form action="." method="post" class="form-signin form_login_account change-color">
        <h3>Use the form below to change your password.</h3>
        <hr>
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-group">
            <input type="hidden" name="next" value="{{ next }}" />
            <button class="btn btn-color btn-block" type="submit">
                <span class="row w-20 pl-3 pr-3 justify-content-center  btn-loader">
                    <span style="--i:1;">c</span>
                    <span style="--i:2;">h</span>
                    <span style="--i:3;">a</span>
                    <span style="--i:4;">n</span>
                    <span style="--i:5;">g</span>
                    <span style="--i:6;">e</span>
                </span>
            </button>
        </div>

        <!-- <p><input type="submit" value="Change"></p> -->

    </form>
</div>

{% endblock %}