{% extends "base.html" %}
{% block title %}Password changed{% endblock %}

{% block content %}

<div class="container text-center">
    <h1 class="row text-uppercase justify-content-center loader">
        <span style="--i:1;">p</span>
        <span style="--i:2;">a</span>
        <span style="--i:3;">s</span>
        <span style="--i:4;">s</span>
        <span style="--i:5;">w</span>
        <span style="--i:6;">o</span>
        <span style="--i:7;">r</span>
        <span style="--i:8;">d</span>
        <span style="--i:9;">&nbsp</span>
        <span style="--i:10;">c</span>
        <span style="--i:11;">h</span>
        <span style="--i:12;">a</span>
        <span style="--i:13;">n</span>
        <span style="--i:14;">g</span>
        <span style="--i:15;">e</span>
        <span style="--i:16;">d</span>
    </h1>

    <div class="alert alert-success">
        <p>Your password has been successfully changed.</p>
    </div>


</div>




{% endblock %}