{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="container text-center">
    <h1 class="row text-uppercase justify-content-left loader">
        <span style="--i:1;">r</span>
        <span style="--i:2;">e</span>
        <span style="--i:3;">S</span>
        <span style="--i:4;">e</span>
        <span style="--i:5;">t</span>
        <span style="--i:6;">&nbsp</span>
        <span style="--i:7;">y</span>
        <span style="--i:8;">o</span>
        <span style="--i:9;">u</span>
        <span style="--i:10;">r</span>
        <span style="--i:11;">&nbsp</span>
        <span style="--i:12;">p</span>
        <span style="--i:13;">a</span>
        <span style="--i:14;">s</span>
        <span style="--i:15;">s</span>
        <span style="--i:16;">w</span>
        <span style="--i:17;">o</span>
        <span style="--i:18;">r</span>
        <span style="--i:19;">d</span>

    </h1>

    <p>We've emailed you instructions for setting your password.</p>

    <p>If you don't receive an email, please make sure you've entered the
        address you registered with.</p>

</div>

{% endblock %}