{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="container">

    <h1 class="row text-uppercase justify-content-center loader">
        <span style="--i:1;">f</span>
        <span style="--i:2;">O</span>
        <span style="--i:3;">r</span>
        <span style="--i:4;">G</span>
        <span style="--i:5;">o</span>
        <span style="--i:6;">t</span>
        <span style="--i:7;">t</span>
        <span style="--i:8;">e</span>
        <span style="--i:9;">n</span>
        <span style="--i:10;">&nbsp</span>
        <span style="--i:11;">y</span>
        <span style="--i:12;">o</span>
        <span style="--i:13;">u</span>
        <span style="--i:14;">r</span>
        <span style="--i:15;">&nbsp</span>
        <span style="--i:16;">p</span>
        <span style="--i:17;">a</span>
        <span style="--i:18;">s</span>
        <span style="--i:19;">s</span>
        <span style="--i:20;">w</span>
        <span style="--i:21;">o</span>
        <span style="--i:22;">r</span>
        <span style="--i:23;">d</span>
        <span style="--i:24;">&nbsp</span>
        <span style="--i:25;">?</span>
    </h1>

    <form action="." method="post" class="form-signin form_login_account change-color">
        <p>Enter your e-mail address to obtain a new password.</p>
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
        </div>


        <div class="form-group">
            <input type="hidden" name="next" value="{{ next }}" />
            <button class="btn btn-color btn-block" type="submit">
                <span class="row justify-content-center  btn-loader">
                    <span style="--i:1;">s</span>
                    <span style="--i:2;">e</span>
                    <span style="--i:3;">n</span>
                    <span style="--i:4;">d</span>
                    <span style="--i:5;">&nbsp</span>
                    <span style="--i:6;">e</span>
                    <span style="--i:7;">-</span>
                    <span style="--i:8;">m</span>
                    <span style="--i:9;">a</span>
                    <span style="--i:10;">i</span>
                    <span style="--i:11;">l</span>
                </span>
            </button>
        </div>

        <!-- <p><input type="submit" value="Send e-mail"></p> -->

    </form>

</div>

{% endblock %}